@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Borna';
    src: url("../public//utils/fonts/Borna/Borna-Medium.ttf") format('truetype');
  }
  
  body {
    font-family:  'Borna', sans-serif;
  }
  