.filtercontainer {
    height: 90vh;
    width: 25%;
}
.inputWithIcon {
    position: relative;
    display: flex;
    align-items: center;
}

.inputWithIcon input {
    flex-grow: 1;
    padding-right: 30px; 
}

.dropdownIcon {
    position: absolute;
    right: 10px;
    cursor: pointer;
    width: 10px;
    height: 10px;
}

.dropdown {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1;
}

.dropdownItem {
    padding: 10px;
    cursor: pointer;
}

.dropdownItem:hover {
    background-color: #f0f0f0;
}

.border {
    width: 1px;
    height: 91%;
    background: #E4E6E7;
}

.alertText {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
}

.alertText h1 {
    color: #000;
    font-family: Borna;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.dateLabel {
    color: #8F9093;
    font-family: Borna;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 21px;
}

.datesFilter {
    padding: 0px 33px;

}

.category {
    margin-bottom: 20px;
}

.category label {
    margin-bottom: 20px;
}

.category input {
    width: 350px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 5.1px;
    border: 0.81px solid #E4E6E7;
}

.loginButton {
    width: 350px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 5.1px;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    margin-top: 26px;
    margin-left: 33px;
}

.loginButton span {
    color: #E6E6E6;
    font-family: Borna;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.pickdates {
    width: 350px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 5.1px;
    border: 0.81px solid #E4E6E7;
    margin-bottom: 19px;
    padding: 0px 20px;
}

.inputBorder {
    width: 420px;
    height: 1px;
    background: #E4E6E7;
}