.addNewArticleContainer {
    width: 60%;
    height: 90vh;
    padding: 0px 35px;
    background: #FFF;
}

.movieImages {
    width: 250px;
    flex-shrink: 0;
}

.movieImages img {
    height: 175px;
    border-radius: 10px;
}

.addNewArticle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    margin-bottom: 30px;
}

.addNewArticle h1 {
    color: #000;
    font-family: Borna;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.loginButton {
    width: 239px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 5.1px;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.loginButton span {
    color: #E6E6E6;
    font-family: Borna;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.checkArticlesDetails {
    width: 856px;
    height: 210px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 0.81px solid #E4E6E7;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 18px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 0px 30px;
    /* background-color: green; */
}

.divider {
    height: 30px;
    width: 1px;
    background-color: #8F9093;
    margin: 0px 20px;
}

.genre {
    height: 30px;
    margin-left: 20px;
    display: flex;
    margin-top: 25px;
}

.genre h1 {
    color: #8F9093;
    font-family: Borna;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 6px;
}

.holderName {
    height: 100px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.holderName h1 {
    color: #000;
    font-family: Borna;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.holderName h2 {
    color: #F00;
    font-family: Borna;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.holderName span,
.checkArticlesDetails span {
    color: #8F9093;
    font-family: Borna;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.checkArticlesDetails img {
    cursor: pointer;
}

.border {
    width: 1px;
    height: 91%;
    background: #E4E6E7;
}


.articleHolderDetails {
    display: flex;
    gap: 18px;
    justify-content: center;
    align-items: center;
}

.loadmoreButton {
    color: #E6E6E6;
    font-family: Borna;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 36px;
    width: 239px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 5.1px;
    background: #000;
    margin-left: 35%;
}