.container {
    height: 100vh;
    width: 100%;
    background-color: #F4F4F4;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .border {
    width: 1728px;
    height: 1px;
    background: #E4E6E7;
} */

.signupAccountContainer {
    width: 1194px;
    height: 614px;
    flex-shrink: 0;
    border-radius: 60px;
    border: 1px solid #FFF;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    margin-top: 69px;
}

.logoContainer {
    height: 614px;
    width: 30%;
    padding-left: 71px;
}

.singupContent {
    margin-top: 49px;
}

.singupContent h1 {
    width: 163px;
    height: 65px;
    flex-shrink: 0;
    color: #000;
    font-family: Borna;
    font-size: 52px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.singupContent span {
    color: #000;
    font-family: Borna;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.inputFields {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 204px;
}

.inputFields input {
    width: 504px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 5.1px;
    border: 0.81px solid #DEE0E1;
    margin-bottom: 20px;
}

.inputFields input::placeholder {
    color: #8F9093;
    font-family: Borna;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 56px;
}

.inputFields p {
    width: 448px;
    color: #8F9093;
    font-family: Borna;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 56px;
    margin-left: 60px;
}

.loginButton {
    width: 239px;
    height: 65px;
    flex-shrink: 0;
    border-radius: 5.1px;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    margin-left: 32%;
}

.loginButton span {
    color: #E6E6E6;
    font-family: Borna;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}